:root {
  --chatbgcolor: #d8fed8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: #555;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-container .left-container {
  position: relative;
  width: 30%;
  min-width: 400px;
  height: 100%;
  flex: 30%;
  background: #fff;

}

.main-container .right-container {
  position: relative;
  width: 70%;
  height: 100%;
  flex: 70%;
  background: #e5ddd5;
  overflow: hidden;
}

/*x                         style for icon container                       */

.icons-container {
  padding: 10px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  position: relative;
  cursor: pointer;
  border-right: thin solid #a5b2c42e;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon-box:active {
  transition: 0.2s;
  background-color: #d4d4d4;
}

.profile-pic {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  background-color: #f0f2f5;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
}

.icons {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  color: #54656f;
}

.search {
  position: relative;
  padding: 0.4rem;
  border: thin solid rgba(128, 128, 128, 0.101);
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  margin-left: 5px;
  position: relative;
  width: 90%;
}

.search-icon {
  position: absolute;
  top: .4em;
  left: 1rem;
  font-size: 1.1rem;
  color: #54656f;
}

.input-box {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #54656f;
  background-color: #f0f2f5;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
}

input.input-box::placeholder {
  position: absolute;
  left: 4rem;
}

.filter {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ea1a2;
  height: 35px;
  width: 35px;
}

#menu-list {
  display: none;
}

.hide {
  display: none;
}

#menu-list>ul {
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  padding: 0.5rem 0;
  line-height: 2;
  font-size: 1rem;
  border: 1px solid rgba(190, 184, 184, 0.377);
  top: 60px;
  right: 35px;
  transition: .01s;
  list-style: none;
  cursor: pointer;
  transition: .01s;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#menu-list>ul>li {
  padding: 0.3rem 3rem 0.3rem 1.5rem;
  color: #3b4a54;
}

#menu-list>ul>li:hover {
  background-color: rgba(240, 234, 234, 0.671);
}



.grp-menu {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  outline: none;
}


#filter-msg_para {
  color: #009688;
  width: 100%;
  padding: 1em;
  margin-top: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(190, 184, 184, 0.377);
}

.filter1 {
  width: 10%;
}

.filter-img {
  width: 50px;
  margin-left: 20px;
  box-sizing: border-box;
  padding: 1em 0;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;


}

.grp-details {
  width: 30%;
  margin-left: 50px;
  margin-right: 50px;
  padding: 1em 0;
}

.msg-count {
  background-color: #00a884;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 15%;

}

#msg-drp {
  margin-left: 10px;
}

/*x                              style for profile                            */

#profile-container {
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0f2f5;
  visibility: hidden;
  transition: 0.4s ease-in;
}

.prof {
  display: flex;
  align-items: center;
  background-color: #008069;
  min-width: 100%;
  max-height: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.go-back {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.prof-icon {
  padding: 1em;
  cursor: pointer;
}

.pro {
  padding: 1rem 1rem;
}

.profile-picture {
  background-color: #f0f2f5;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-user{
  height: 200px;
  width: 200px;
}

.profile-picture_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name,
.about {
  background-color: #ffffff;
  width: 100%;
  padding: 10px 16px;
}

.username-input,
.a-input {
  width: 80%;
  margin-left: 10px;
}

.name,
.about-para {
  color: #008069;
  padding: 0.8em 0.5rem;
  font-size: 1.1rem;

}

.profile-user_name {
  justify-content: space-between;
  display: flex;
  padding: 0.8em 1.5em;
  font-size: 1.2rem;
  display: flex;
  /* display: none; */
}

.profile-user-input {
  border-bottom: 2px solid #3b4a54af;
  display: flex;
  justify-content: space-between;
  display: none;
}

.name-checkBtn,
.about-checkBtn {
  display: flex;
  gap: 8px;
  margin-right: 3px;
  align-items: center;
}

.name-checkBtn svg,
.about svg {
  height: 25px;
  width: 25px;
  fill: #c4dae8;
  cursor: pointer;
}

.name-input input,
.about-text input {
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 1.2rem;
  color: #8696a0;
  min-width: max-content;
}

.warn {
  background-color: #f0f2f5;
  padding: 0.8em 2em 1em;
  color: rgb(165, 162, 162);
}

.about-input {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #3b4a54af;
  padding: 10px px;
  display: none;
}

.about-info {
  justify-content: space-between;
  padding: 0.6em 1.5em;
  font-size: 1.2rem;
  display: flex;
}



/*x                             Here the styling for Contact list                       */

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#contact-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}


.person {
  display: flex;
  gap: 15px;
  /* height: 4.5rem; */
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.159);

}

.person:hover {
  cursor: pointer;
  background-color: #f5f6f6;
}

.person-img-details {
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-left: 15px;
  object-fit: cover;
}

.avatar {
  object-fit: cover;
}

.person-name {
  width: calc(100% - 15%);
  display: flex;
  position: relative;
  bottom: 5px;
  flex-direction: column;
  height: 100%;
}

.current-chat {
  position: relative;
  margin-left: 5px;
  font-size: 1.2rem;
}
.message-time {
  position: relative;
  right: 1.5rem;
  font-size: 0.9rem;
  color: #667781;
}
.person-name-details {
  flex: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container {
  height: 84%;
}

.contact-name {
  position: relative;
  top: 5px;
  font-size: 1.15rem;
  color: #111b21;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.081);

}

.person-msg {
  position: relative;
  flex: 50%;
  color: #667781;
}

.right-most-container {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
  background-color: rgb(240, 242, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 100px;
  box-sizing: border-box;
  border-bottom: 7px solid rgb(37, 211, 102);

}

.default-content {
  width: 32vw;
  color: rgb(70, 82, 93);
  font-weight: lighter;
  font-size: .9rem;
  text-align: center;
}

.default-bottom {
  padding-top: 100px;
  box-sizing: border-box;
}

/* x             right chat-box              */
.right-chatbox {
  z-index: 3;
  display: none;
  height: 100%;
  width: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  /* opacity: 0.; */ 
  background: url(https://camo.githubusercontent.com/854a93c27d64274c4f8f5a0b6ec36ee1d053cfcd934eac6c63bed9eaef9764bd/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67);
  background-color: #f1ede5ab;
  background-blend-mode:multiply;
}

.search-box1{
  width: 100%;
  z-index: 1;
  display: none;
  position: absolute;
  height: 60px;
  background-color: #f0f2f5;

}
.search-icon2 {
  position: absolute;
  right:30px;
  top:15px;
   margin:10px ;
   fill:#54656f;
}

.search-icon2 svg{
   padding-left:20px;
}
.boxs {
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
}

.input-box2{
  width: 100%;
  height: 50px;
  background-color: #f0f2f5;
  color: #54656f;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin-left:50px;
padding-left:80px;
}

.bii{
padding-top:30px;
margin:10px;
position: absolute;
bottom: 5px;
background-color:#f0f2f5 ;
}

.chatbox-head {
  padding: 3px 16px;
  width: 100%;
  background-color: rgb(240, 242, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  color: #111b21;
  gap: 20px;
}

.contact:hover {
  cursor: pointer;
}

.contact img {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}

.option {
  display: flex;
  gap: 1.5rem;
  margin-right: 10px;
  align-items: center;
  justify-content: space-around;
}

.option svg {
  height: 25px;
  width: 30px;
  fill: #54656f;
  cursor: pointer;
}

.chat {
  height: 80%;
  width: 100%;
  /* z-index: 5555; */
  scroll-behavior: smooth;
}

.chatbox-bottom {
  padding: 0px 30px 0px 25px;
  height: 70px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(240, 242, 245);
  display: none;
  gap: 14px;
  justify-content: space-around;
  align-items: center;
  color: rgb(84, 101, 111);
  position: absolute;
  z-index: 3;
}

.emoji-attach {
  display: flex;
  gap: 20px;
}
.emogy , .linkIcon ,.send-btn , .mike ,.more-option, .chat-search{
  padding:5px;

}
.emogy:hover,.linkIcon:hover , .send-btn:hover , .mike:hover , .more-option:hover,  .chat-search:hover{
background-color: #bfc2c3;
border-radius: 50%;
}

.chat-search, .more-option{
  color:rgb(84, 101, 111);
}

.chatbox-bottom svg {

  height: 27px;
  width: 27px;
}

.chatbox-bottom svg:hover {
  cursor: pointer;
}

.input {
  width: 90%;
}

#chatbox-input {

  width: 100%;
  border-radius: 5px;
  padding: 13px 20px;
  outline: none;
  border: none;
  background-color: white;
}

.fixed {
  top: 10px;
  position: sticky;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 3px;

}

.today-span {

  background-color: white;
  border-radius: 5px;
  padding: 6px 8px;
  color: #54656f;
  font-size: 0.9rem;
}

.chat-initial {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.encryption-msg {
  background-color: #ffeecd;
  display: flex;
  border-radius: 5px;
  color: #54656f;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 3px;

}

.msgcontainer {
  font-size: 0.9rem;
}

/* x    css for chat   */
.chat {
  position: relative;
  overflow-x: scroll;
  padding: 1rem 4rem;
}

.recieve-chat,
.send-chat {
  position: relative;
  height: min-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--chatbgcolor);
  margin: 0px 10px;
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 8px;
  font-size: 1.01rem;
  color: #111b21;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 3px;
  max-width: 600px;
  max-height: 300px;
  text-overflow: clip;
}
@media screen and (max-width:1080px) {
  .right-container{
    min-width: 800px;
  }
}
.send-chat {
  float: right;
  clear: both;
}

.recieve-chat {
  clear: both;
  background-color: rgb(255, 255, 255);
}

.linkHere{
  background-color: transparent;
position: relative;
bottom:200px;
left: 125px;
display: none;

}
.linkHere ul{
transition: 1s;
}

.linkHere li {
  margin:10px ;
  border-radius: 30px;
  list-style-type : none;

}
.linkHere > ul > li > img{
  height: 50px;
  width: 50px;
  border-radius:50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0 , 0.4) 5px 5px 5px;
}

.pop-up-btn{
  position:relative;
  box-sizing: border-box;
  display: none;
  
}

.pop-up-btn > ul{
  position: absolute;
  right:0px;
  margin: 20px;
  z-index: 1;
  /* background-color:#d8d8def2; */
  background-color: white;
  transition: 5s;
  border-radius: 10px;

}

.pop-up-btn ul{
  list-style-type: none;
  border-radius: 10px;
}

.pop-up-btn li{
  border-bottom: .5px solid #9ea1a2;
  padding:  15px;
  align-items: center;
  display: flex;
  gap: 20px;
  color:rgb(75, 73, 73);
}

.pop-up-btn ul li:hover{
background-color: #e7ecec;
cursor: pointer;
}


.append-chat{
  position: relative;
}
.chat-time {
  position: relative;
  top: 5px;
  margin-left: 8px;
  font-size: 0.8rem;
  color: #667781;
}
