@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ccc;
}

.background-green {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #009688;
}

.main-container {
  position: relative;
  width: 98%;
  max-width: 100%;
  height: calc(100vh - 2rem);
  background: #555;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-container {
  position: relative;
  width: 30%;
  height: 100%;
  flex: 30%;  
}


/* style for icon container */

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
  
}


 /* Here the styling for Contact list */

 .contact-list{
  height: 75vh;
  overflow-y:scroll;
  
}
.person{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 20px;
  color: white;
  background-color: rgb(30,38,44);
  border: none;
}
.person-img-details{
  width: 10vw;
  display: flex;
  justify-content: space-between;
  
}
.person-img-details img{
    outline-offset: 5px;
    outline: 3px dashed gray;
}
.person-name{
  width: 40vw;
}

::-webkit-scrollbar{
  width: 0px;
}

/* Here the Styling of Default-Right-container */

.right-container{
    position: relative;
    width: 70%;
    height: 100%;
    flex: 70%;
    background-color: rgb(11,20,26);
}

.cross{
  position: absolute;
  top: 30px;
  right: 30px;
  color: gray;
  cursor: pointer;
}

.right-statusContainer{
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    background-color: rgb(11,20,26);
}

.user-status{
    height: 20vh;
    width: 100%;
    background-color: rgb(30,38,44);
    display: flex;
    align-items: center;
    gap: 20px;    
}


.status-user {
  width: 20vw;
  padding-bottom: 20px;
  border-bottom: 0.1px solid gray;   
}