@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ccc;
}

.background-green {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #009688;
}

.main-container {
    position: relative;
    width: 98%;
    max-width: 100%;
    height: calc(100vh - 2rem);
    background: #555;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-container .left-container {
    position:relative;
    width: 30%;
    height:100%;
    flex: 30%;
    background: #fff;
  }
  
  .main-container .right-container {
    position: relative;
    width: 70%;
    height: 100%;
    flex: 70%;
    background: #e5ddd5;
  }
  
  .main-container .right-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://camo.githubusercontent.com/854a93c27d64274c4f8f5a0b6ec36ee1d053cfcd934eac6c63bed9eaef9764bd/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67);
    opacity: 0.5;
  }
  
